*{
    margin: 0%;
    border: 0%;
    padding: 0%;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10vw;
    text-align: center;
    background-color: black;
    color: white;
    padding-top: 40px;
            
}
h1 > p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3vw;
    margin: auto;
    padding-bottom: 20px;
    color: white;
    background-color: black;
    text-decoration: none;
}

 section {
    font-size: 1.5em;
    padding-left: 2%;
        
}

#img1 {
    background: url(imagens/background001.jpg) center center no-repeat fixed;
    height: 450px;
    background-position: center center;
    box-shadow: black 1px 1px 1px 1px
}

#img2 {
    background-image: url(imagens/background002.jpg);
    height: 450px;
    background-position: center center;
    
}
#txt1 {
    height: 300px;
    background-color: rgba(211, 211, 211, 0.082);
    display: inline-block;
    color: white;
    padding-top: 120px;
    
}

#txt2{
    color: black;
    text-align: justify;
}

section >p#texto {
    color: black;
}
p{
    padding-top: 20px;
}